<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{% static 'css/admin.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav>
        <div class="logo">
            <img src="{% static 'assets/images/logo.jpg' %}" alt="logo">
        </div>
        <div class="dept">
            <h1>Department of Computer Science and Engineering</h1>
        </div>
    </nav>
    <div class="admin-container">
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'Add_Students' %}">Add Students</a></li>
                <li><a href="{% url 'Add_Teachers' %}">Add Teachers</a></li>
                <li><a href="#" onclick="showSection('admin_marks')">Add Marks</a></li>
                <li><a href="#" onclick="showSection('upload_list')">Upload Excel File</a></li>
                <li><a href="#" onclick="showSection('admin_sign_out')">Sign Out</a></li>
            </ul>
        </div>
        <div class="content">
            <div>
                <!-- Content from admin_teachers.html -->
                <h2>Add Teacher Information</h2>
                <div class="teacher-info">
                    <form method="post">
                        <div class="info-field form-field">
                            <label for="teacher_id">Teacher ID:</label>
                            <input type="text" id="teacher_id" name="teacher_id" required>
                        </div>
                        <div class="info-field form-field">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div class="info-field form-field">
                            <label for="email_id">Email ID:</label>
                            <input type="email" id="email_id" name="email_id" required>
                        </div>
                        <div class="info-field form-field">
                            <label for="mobile_no">Mobile Number:</label>
                            <input type="text" id="mobile_no" name="mobile_no" required>
                        </div>
                        <div class="info-field form-field">
                            <label for="department">Department:</label>
                            <input type="text" id="department" name="department" required>
                        </div>
                        <div class="info-field form-field">
                            <label for="designation">Designation:</label>
                            <input type="text" id="designation" name="designation" required>
                        </div>
                        <button type="submit">Add Teacher</button>
                    </form>
                </div>
            </div>