<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin Login</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	</head>

	<body>
		<nav>
			<div class="logo">
				<img src="{% static 'assets/images/logo.jpg'%}" alt="logo" />
			</div>
			<div class="dept">
				<h1>Department of Computer Science and Engineering</h1>
			</div>
		</nav>
		<main>
			<div class="login">
				<h1>Admin Login</h1>
				<div class="form">
					<form action="/admin_login" method="post">
						{% csrf_token %}
						<label for="admin_id">Admin Email:</label>
						<input
							type="text"
							name="email"
							id="admin_id"
							placeholder="enter the email"
							required
						/>
						<br />
						<label for="password">Password:</label>
						<input
							type="password"
							name="password"
							id="password"
							placeholder="enter the password"
							required
						/>
						<br />
						<div class="button">
							<button
								type="submit"
								class="btn btn-primary btn-block login-btn"
							>
								Login
							</button>
						</div>
					</form>
				</div>
			</div>
		</main>
	</body>
</html>
